@page
@using ccse_cw1.Models;
@model ccse_cw1.Pages.BookingModel
@{
	ViewData["Title"] = "Booking";
}

<h1>Customers</h1>

<table>
    <tr>
        <th>Hotel ID</th>
        <th>Hotel Name</th>
        <th>Room type</th>
        <th>Price</th>
        <th>Number of Rooms</th>
    </tr>

    {
    }
</table>